@charset "utf-8";

#estate_contents{
}

#estate_info{
}

#base {
    width: 250px;
    margin: 0 auto;
    float: left;
}
#right{
    float: left;

}

#distance{

}

#char {

}

#room {

}

#opinion{
/*    align-items: center;*/
}

#opinion_agent {
}

#opinion_owner{

}

#opinion_resident{

}

#estate_img img{
    width: 280px;
    height: 210px;
    float: left;
    margin: 0 auto;
}

#floor_img img{
    width: 280px;
    height: 210px;
    float:left;
    margin: 0 auto;
}

#map {
    min-width: 280px;
    height: 210px;
}

div #map * {
    padding: initial;
}

#estate_info div table tbody tr:nth-child(2n-1) {
    background: #fff;
}
