@charset "utf-8";

.sampleTable {
    border-collapse: collapse;
    table-layout: fixed;

}
.sampleTable th,
.sampleTable td {
    border: 1px solid #CCCCCC;
    padding: 5px 10px;
    text-align: left;
}
.sampleTable th {
    background-color: #FFFFFF;
}

.sampleTable table {
    width: 200px;
    margin-left: 0px;
}

#estate_contents{
    margin-right: auto;
    margin-left : auto;
}

#estate_info{
    margin-left: 0px;
    float: left;
}

#base {
    width: 250px;
    margin-left: 0px;
    float: left;
}

#distance{
    width: auto;
    margin: auto auto;
    float: left;
}


#char {
    width: auto;
    margin-right: 0px;
    float: left;
}

#room {
    width: 300px;
    margin: 0 auto;
    float: left;
}



#opinion{
/*    align-items: center;*/

}

#opinion_agent{
/*    float:right;*/
}

#opinion_owner{

}

#opinion_resident{

}


#estate_img img{
    width: 240px;
    height: 180px;
}
#floor_img img{
    width: 240px;
    height: 180px;
}

#test{
    width: 300px;
    height: 300px;
}
