@charset "utf-8";

#hit{
    width: 100%;
}

#estate_table{
    margin: 0 auto;
    width: 90%;
}

#estate_table img {
    width: 100%;
}

tbody.scrollBody:hover {
    cursor: pointer;
}

tbody.scrollBody tr:nth-child(2n-1) {
    background: #fff;
}

tbody.scrollBody tr:hover {
    background: #dde1e1;
}



/*スクロール用*/
thead.scrollHead,tbody.scrollBody{
    display:block;
}
tbody.scrollBody{
    overflow-y:scroll;

    height: 550px;
}
tbody.scrollBody tr{
    width: 100%;
}

tbody.scrollBody td{
    width: 5%;
}
thead.scrollHead th{
    width: 5%;
}
