@charset "utf-8";

#estate_table{
    margin: 0 auto;
    width: 90%;
}

#estate_table img {
    width: 100%;
}

#estate_table tbody:hover {
    cursor: pointer;
}

#estate_table tbody tr:nth-child(2n-1) {
    background: #fff;
}

#estate_table tbody tr:hover {
    background: #dde1e1;
}




