@charset "utf-8";

.estate_room_delete,
.estate_picture_delete,
.estate_frank_opinion_delete {
	display: none;
}

input[type=radio],
input[type="checkbox"] {
	float: none;
}

.previews img {
	width: 85px;
}
