@charset "utf-8";

* {
    padding: 0;
    margin: 0;
}

#nav ul,
#nav li {
    list-style: none;
}

#content {
    width: 100%;
    height: auto;
    margin-top: 0px;
}

#nav div{
    padding: 20px;
}

/* サイドバー */
#nav div,
#main div {
    display: inline-block;
}

#nav {
    border-right: groove;
    margin-left: 0;
    width: 25%;
}

/* 右側（main） */
#main {
    margin-left: 10px;
    width: 65%;
    height: auto;
}

#content {
    display: table;
}

#search1{
/*    font-size: 10.5px;*/

    border-style: solid;
    border-color: gray;
    border-radius:10px;
    background: #fff;

}


#search2{
/*    font-size: 10.5px;*/

    border-style: solid;
    border-color: gray;
    border-radius:10px;
    background: #fff;
}

#search1 p{
    padding:0;margin:0.3em;
}

#search2 p{
    padding:0;margin:0.3em;
}

#agent_list{
/*    vertical-align: bottom;*/
}

#agent_list tbody tr:nth-child(2n-1) {
    background: #fff;
}


#nav {
    display: table-cell;
    /*    border-left: 2px solid #555;*/
}
#main {
    display: table-cell;
    /*    border-left: 2px solid #555;*/
}
