@charset "utf-8";

* {
    padding: 0;
    margin: 0;
}

#nav ul,
#nav li {
    list-style: none;
}

#content {
    width: 100%;
    height: auto;
    margin-top: 0;
}

/* サイドバー */
#nav div,
#main div {
    display: inline-block;
}

#nav {
    border-right: groove;
    margin-left: 0;
    width: 25%;
}

/* 右側（main） */
#main {
    margin-left: 10px;
    width: 65%;
    height: auto;
}

.check {
	vertical-align: middle;
}

.unit {
	vertical-align: bottom;
	white-space: nowrap;
}

#search1 {
	display: table;
}

#search1,
#search2 {
	border: solid gray;
	border-radius:10px;
	background: #fff;
}

#search1 .condition {
	display: table-row;
}

#search1 .condition div {
	display: table-cell;
}

#search1 p{
    padding:0;margin:0.3em;
}

#search2 p{
    padding:0;margin:0.3em;
}

#agent_list{
/*    vertical-align: bottom;*/
}

#agent_list tbody tr:nth-child(2n-1) {
    background: #fff;
}

#nav {
    display: table-cell;
    /*    border-left: 2px solid #555;*/
}
#main {
    display: table-cell;
    /*    border-left: 2px solid #555;*/
}

.under {
	text-decoration: underline;
}

.required.under:before {
	color: #e32;
	content: '*';
	display: inline;
}

#nav .buttons {
	margin: 0;
}

#nav .buttons div {
	margin: 0;
	padding: 0;
}

#nav .error {
	color: red;
	display: none;
}
